#
# dotphiles : https://github.com/dotphiles/dotphiles
#
# Ignore these files globally in this repo.
#

#
#
# Preloaded
#
*.swp
.DS_Store
*~
*.sublime-*
*.d/localhost
aptitude/cache
cmus/autosave
cmus/cache
cmus/*-history
cmus/*.pl
ssh/id*
ssh/environment*
ssh/known_hosts
ssh/master/*
subversion/README.txt
subversion/auth/*
gnupg/crls.d/*
gnupg/openpgp-revocs.d/*
gnupg/private-keys-v1.d/*
gnupg/.gpg-v21-migrated
gnupg/gpg-agent.env
gnupg/private*
gnupg/random*
gnupg/sshcontrol
gnupg/*~
gnupg/*.gpg
gnupg/*.kbx
gnupg/*.lock
mercurial/certs/
mutt/cache/*
mutt/mailboxes.*
mutt/smime/*
mutt/certificates
task/task/*.data

#
#
# MacOS ignores
#
# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#
#
# Backups
#
*.bak
*.gho
*.ori
*.orig
*.tmp

#
#
#
